In [1]:
"""
Real loop subtract random loop

"""

'\nReal loop subtract random loop\n\n'

In [4]:
import os, sys, glob, re
import numpy as np
import pandas as pd
import pyranges as pr
#import glbase3

In [5]:
#files = os.listdir('../data/ctcf.rad21/')
#len(files)

path = '../data/real_loop/ctcf.rad21/'
file = glob.glob(os.path.join(path,'*.txt'))
d1 = [] 
d2 = []

for f in file:
    if  re.match('.*r1.*', f) != None:
        d1.append(pd.read_csv(f,comment='#',header=None))
    else: #re.match('.*r2.*', f) != None:
        d2.append(pd.read_csv(f,comment='#',header=None))
data_r1 = pd.concat(d1,axis=1)
data_r2 = pd.concat(d2,axis=1)

print(data_r1.head())
print(data_r2.head())

         0        0        0        0        0        0        0        0  \
0  1552122  2359505  2530801  3199549  2925137  2922057  6052493  2777194
1   476961   723592   776762   980571   895768   897601  1860107   849084
2   162677   242219   259477   325950   299175   299248   618848   282481
3    86127   126771   135879   168935   156531   156195   321400   147227
4    57615    85280    91533   112640   104667   104463   215256    99432

         0
0  1060967
1   324135
2   109319
3    57518
4    39252
         0        0        0        0        0        0         0        0  \
0  2779308  4248417  4556959  5730413  5257769  5250576  10796545  4963443
1   586890   887041   950602  1195588  1098194  1096631   2254540  1034665
2   183412   268860   287835   359684   332671   329372    677341   309573
3   103366   150682   161371   199484   185038   183714    376635   172738
4    70140   101456   108890   134518   125376   124030    253828   116504

         0
0  1924250
1   401889
2   121795
3    68763
4    46657

In [10]:
name = []
for f in file:
    rep = os.path.split(f)[1].split('primed_')[1].split('.bed')[0]
    fn = os.path.split(f)[1].split('_peaks')[0]
    name.append(fn + '_' + rep)
print(name)

['CTCF_35846_r1', 'CTCF_35846_r2', 'CTCF_36632_r1', 'CTCF_36632_r2', 'CTCF_45230_r1', 'CTCF_45230_r2', 'CTCF_46184_r1', 'CTCF_46184_r2', 'CTCF_50988_r1', 'CTCF_50988_r2', 'RAD21_45689_r1', 'RAD21_45689_r2', 'RAD21_46164_r1', 'RAD21_46164_r2', 'RAD21_91096_r1', 'RAD21_91096_r2', 'RAD21_94415_r1', 'RAD21_94415_r2']

In [21]:
name1 = []
name2 = []

for n in name:
    if re.match('.*r1.*', n) != None:
        #print(n)
        name1.append(n)
    else:
        name2.append(n)

name1 = np.unique(name1)
name2 = np.unique(name2)

print(name1)
print(name2)

['CTCF_35846_r1' 'CTCF_36632_r1' 'CTCF_45230_r1' 'CTCF_46184_r1'
 'CTCF_50988_r1' 'RAD21_45689_r1' 'RAD21_46164_r1' 'RAD21_91096_r1'
 'RAD21_94415_r1']
['CTCF_35846_r2' 'CTCF_36632_r2' 'CTCF_45230_r2' 'CTCF_46184_r2'
 'CTCF_50988_r2' 'RAD21_45689_r2' 'RAD21_46164_r2' 'RAD21_91096_r2'
 'RAD21_94415_r2']

In [27]:
data_r1.columns = name1
data_r2.columns = name2
print(data_r1)
print(data_r2)

    CTCF_35846_r1  CTCF_36632_r1  CTCF_45230_r1  CTCF_46184_r1  CTCF_50988_r1  \
0         1552122        2359505        2530801        3199549        2925137
1          476961         723592         776762         980571         895768
2          162677         242219         259477         325950         299175
3           86127         126771         135879         168935         156531
4           57615          85280          91533         112640         104667
5           42044          62545          67123          82688          76730
6           32822          48423          51964          63768          59250
7           26035          38730          41484          51054          47500
8           21210          31477          33868          41501          38228
9           17501          26261          28116          34170          31920
10          14579          22162          23642          28883          26792
11          12627          18958          20329          24830          22927
12          10533          15743          16899          20793          19083
13           9042          13670          14605          17866          16471
14           7846          11778          12567          15520          14281
15           7022          10450          11117          13598          12518
16           6042           9144           9721          12040          11050
17           5348           8102           8655          10683           9806
18           4581           7014           7508           9252           8451
19           7900          11845          12749          15762          14239

    RAD21_45689_r1  RAD21_46164_r1  RAD21_91096_r1  RAD21_94415_r1
0          2922057         6052493         2777194         1060967
1           897601         1860107          849084          324135
2           299248          618848          282481          109319
3           156195          321400          147227           57518
4           104463          215256           99432           39252
5            77097          157405           72749           28952
6            59692          121621           56638           22512
7            48134           97165           45577           18587
8            38920           78652           36811           14933
9            32487           65318           31021           12692
10           27101           54556           26013           10641
11           23282           46520           22246            9128
12           19568           38915           18704            7714
13           16833           33739           16276            6779
14           14664           29152           14115            5800
15           12955           25556           12475            5162
16           11424           22414           10993            4531
17            9990           19679            9642            4072
18            8601           17013            8366            3524
19           14696           28671           14095            5974
    CTCF_35846_r2  CTCF_36632_r2  CTCF_45230_r2  CTCF_46184_r2  CTCF_50988_r2  \
0         2779308        4248417        4556959        5730413        5257769
1          586890         887041         950602        1195588        1098194
2          183412         268860         287835         359684         332671
3          103366         150682         161371         199484         185038
4           70140         101456         108890         134518         125376
5           51900          75235          80454          99170          92383
6           40146          58141          62249          76526          71004
7           32095          46275          49471          60582          56490
8           25830          37133          39727          48429          45504
9           21432          31228          33375          40807          38035
10          17638          25590          27452          33571          31186
11          14923          21596          23123          28423          26244
12          12537          18214          19573          24029          22324
13          10888          15839          16952          20566          19158
14           9336          13523          14403          17656          16383
15           8004          11477          12303          15272          13994
16           6982          10007          10672          13178          12050
17           5947           8596           9248          11548          10433
18           5156           7471           7952           9954           9203
19           8506          12381          13141          16333          14902

    RAD21_45689_r2  RAD21_46164_r2  RAD21_91096_r2  RAD21_94415_r2
0          5250576        10796545         4963443         1924250
1          1096631         2254540         1034665          401889
2           329372          677341          309573          121795
3           183714          376635          172738           68763
4           124030          253828          116504           46657
5            91913          187015           86247           34727
6            70885          144140           66791           26987
7            56162          113977           53170           21549
8            45728           91827           43082           17684
9            38139           76488           36204           14889
10           31436           62993           29660           12418
11           26454           52790           25250           10464
12           22463           44780           21620            8933
13           19234           38041           18522            7741
14           16377           32446           15766            6611
15           14134           27908           13435            5633
16           12317           23947           11860            5030
17           10625           20775           10305            4308
18            9325           18021            8927            3787
19           15055           29501           14530            6135

In [23]:
## load bed files
bedpath = '../data/bed/ctcf.rad21/'
bedfile = glob.glob(os.path.join(bedpath,'*.bed'))
peaknum = []
for b in bedfile:
    bed = pr.read_bed(b)
    peaknum.append(len(bed))

In [24]:
# peaknum = np.repeat(peaknum, 2)
peaknum

[70084, 82900, 87184, 101440, 97256, 92669, 151864, 86582, 51993]

In [25]:
normed_r1 = data_r1 / peaknum
normed_r1.head()

,CTCF_35846_r1,CTCF_36632_r1,CTCF_45230_r1,CTCF_46184_r1,CTCF_50988_r1,RAD21_45689_r1,RAD21_46164_r1,RAD21_91096_r1,RAD21_94415_r1
0,22.146596,28.462063,29.028274,31.541295,30.076674,31.532195,39.854692,32.075882,20.405958
1,6.805562,8.728492,8.909456,9.666512,9.210414,9.686098,12.248505,9.806703,6.234205
2,2.321172,2.921821,2.976200,3.213229,3.076160,3.229214,4.075014,3.262583,2.102572
3,1.228911,1.529204,1.558531,1.665369,1.609474,1.685515,2.116367,1.700434,1.106264
4,0.822085,1.028709,1.049883,1.110410,1.076201,1.127270,1.417426,1.148414,0.754948

In [26]:
normed_r2 = data_r2 / peaknum
normed_r2.head()

,CTCF_35846_r2,CTCF_36632_r2,CTCF_45230_r2,CTCF_46184_r2,CTCF_50988_r2,RAD21_45689_r2,RAD21_46164_r2,RAD21_91096_r2,RAD21_94415_r2
0,39.656812,51.247491,52.268295,56.490664,54.061127,56.659465,71.093511,57.326500,37.009790
1,8.374094,10.700133,10.903400,11.786159,11.291787,11.833850,14.845783,11.950117,7.729675
2,2.617031,3.243185,3.301466,3.545781,3.420570,3.554285,4.460181,3.575489,2.342527
3,1.474887,1.817636,1.850924,1.966522,1.902587,1.982475,2.480081,1.995080,1.322543
4,1.000799,1.223836,1.248968,1.326084,1.289134,1.338420,1.671417,1.345591,0.897371

In [28]:
mback_r1 = pd.read_csv('ctcf_rad21_meanback_r1.txt', sep='\t')
mback_r2 = pd.read_csv('ctcf_rad21_meanback_r2.txt', sep='\t')

,CTCF_35846_r1,CTCF_36632_r1,CTCF_45230_r1,CTCF_46184_r1,CTCF_50988_r1,RAD21_45689_r1,RAD21_46164_r1,RAD21_91096_r1,RAD21_94415_r1
0,23.964474,27.275004,28.312920,31.536282,30.624934,29.599327,40.675623,28.156767,18.816325
1,7.282030,8.287387,8.601874,9.580459,9.303554,8.994786,12.345819,8.554815,5.721174
2,2.457836,2.796620,2.903083,3.231640,3.138780,3.034199,4.154281,2.886757,1.938584
3,1.274910,1.448567,1.502744,1.672463,1.623811,1.569865,2.151426,1.494812,1.008917
4,0.843673,0.958545,0.993774,1.104065,1.072808,1.037585,1.417657,0.988305,0.665859

In [29]:
mback_r1.head()

,CTCF_35846_r1,CTCF_36632_r1,CTCF_45230_r1,CTCF_46184_r1,CTCF_50988_r1,RAD21_45689_r1,RAD21_46164_r1,RAD21_91096_r1,RAD21_94415_r1
0,23.964474,27.275004,28.312920,31.536282,30.624934,29.599327,40.675623,28.156767,18.816325
1,7.282030,8.287387,8.601874,9.580459,9.303554,8.994786,12.345819,8.554815,5.721174
2,2.457836,2.796620,2.903083,3.231640,3.138780,3.034199,4.154281,2.886757,1.938584
3,1.274910,1.448567,1.502744,1.672463,1.623811,1.569865,2.151426,1.494812,1.008917
4,0.843673,0.958545,0.993774,1.104065,1.072808,1.037585,1.417657,0.988305,0.665859

In [30]:
mback_r2.head()

,CTCF_35846_r2,CTCF_36632_r2,CTCF_45230_r2,CTCF_46184_r2,CTCF_50988_r2,RAD21_45689_r2,RAD21_46164_r2,RAD21_91096_r2,RAD21_94415_r2
0,41.920903,47.732531,49.550436,55.221615,53.618156,51.811540,71.238272,49.282749,32.902906
1,8.758022,9.969100,10.350450,11.530302,11.197390,10.822189,14.870913,10.292666,6.881211
2,2.676240,3.043812,3.158389,3.516246,3.415049,3.301259,4.527098,3.140886,2.106941
3,1.480195,1.680878,1.745591,1.941625,1.886520,1.825307,2.497124,1.736068,1.165957
4,0.986217,1.119626,1.162032,1.292784,1.255215,1.213282,1.660347,1.155025,0.777747

In [32]:
print(normed_r1.shape)
print(mback_r1.shape)

print(normed_r2.shape)
print(mback_r2.shape)

(20, 9)
(20, 9)
(20, 9)
(20, 9)

In [10]:
# sub = []
# for x in range(0, 18):
#     sub.append(normed.iloc[:,x] - back.iloc[:,x])
# subed = pd.concat(sub, axis=1)

In [33]:
subed_r1 = normed_r1.subtract(mback_r1)
subed_r1.head()

,CTCF_35846_r1,CTCF_36632_r1,CTCF_45230_r1,CTCF_46184_r1,CTCF_50988_r1,RAD21_45689_r1,RAD21_46164_r1,RAD21_91096_r1,RAD21_94415_r1
0,-1.817879,1.187059,0.715354,0.005014,-0.548260,1.932869,-0.820931,3.919115,1.589633
1,-0.476468,0.441105,0.307582,0.086053,-0.093140,0.691312,-0.097313,1.251888,0.513031
2,-0.136665,0.125201,0.073117,-0.018411,-0.062620,0.195015,-0.079267,0.375826,0.163987
3,-0.045999,0.080637,0.055788,-0.007094,-0.014337,0.115650,-0.035059,0.205622,0.097348
4,-0.021588,0.070164,0.056109,0.006345,0.003393,0.089685,-0.000230,0.160109,0.089089

In [34]:
subed_r2 = normed_r2.subtract(mback_r2)
subed_r2.head()

,CTCF_35846_r2,CTCF_36632_r2,CTCF_45230_r2,CTCF_46184_r2,CTCF_50988_r2,RAD21_45689_r2,RAD21_46164_r2,RAD21_91096_r2,RAD21_94415_r2
0,-2.264092,3.514960,2.717859,1.269050,0.442971,4.847925,-0.144761,8.043750,4.106884
1,-0.383928,0.731033,0.552950,0.255858,0.094396,1.011661,-0.025130,1.657451,0.848464
2,-0.059209,0.199373,0.143077,0.029535,0.005522,0.253025,-0.066916,0.434603,0.235586
3,-0.005308,0.136758,0.105334,0.024897,0.016067,0.157168,-0.017043,0.259012,0.156586
4,0.014583,0.104210,0.086936,0.033300,0.033919,0.125138,0.011069,0.190566,0.119624

In [36]:
subed = pd.concat([subed_r1, subed_r2], axis=1)
subed.head()

In [38]:
subed_r1.to_csv("ctcf_rad21_subed_r1.txt", sep='\t', index=False)
subed_r2.to_csv("ctcf_rad21_subed_r2.txt", sep='\t', index=False)